html {
  background: white url("./../assets/city-background.jpg") center fixed
    no-repeat;
  background-size: cover;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

body {
  min-height: 47.5%;
  width: 80%;
  padding: 2.5% 5%;
  margin: 50% 5% 0%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6),
    rgb(0, 0, 0)
  );
  color: yellow;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

button {
  width: 100px;
  height: 50px;
}

.resposta {
  color: white;
}
