@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

html {
  background: black url("./../assets/city-background.jpg") center fixed
    no-repeat;
  background-size: cover;
  font-family: "Barlow", sans-serif;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

#mark {
  background-image: url("./../assets/mark-background.jpg");
}

#jane {
  background-image: url("./../assets/jane-background.jpg");
}

#diana {
  background-image: url("./../assets/diana-background.jpg");
}

#easter {
  background-image: url("./../assets/easter-background.jpg");
}

body {
  min-height: 55%;
  width: 80%;
  padding: 2.5% 5%;
  margin: 37.5% 5% 2.5%;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8),
    black
  );
  color: yellow;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 5px;
}

h1::selection,
p::selection {
  background-color: yellow;
  color: black;
}

button {
  width: 150px;
  padding: 17.5px 0;
  align-self: center;
  font-weight: bold;
  background-color: yellow;
  border-radius: 25px;
  border: none;
  box-shadow: 0 0 20px -5px rgba(255, 255, 0, 0.6);
  transition: box-shadow 0.5s;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px -5px rgba(255, 255, 0, 0.6);
}

.resposta {
  color: white;
}
